:root {
    --accent: #824B03;
    --bg: #fff;
    --fg: #444
}
*, *::after, *::before {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0
}
body {
    background-color: var(--bg);
    color: var(--fg)
}
html {
    font-size: 16px;
    scroll-behavior: smooth
}
@supports (scrollbar-gutter: stable) {
    html {
        scrollbar-gutter: stable
    }
}
@media (prefers-reduced-motion: reduce) {
    .calculator-content button:hover {
        transition: none
    }
    html {
        scroll-behavior: auto
    }
}
body, main {
    max-width: 100%;
    min-height: 100svh
}
header h1 {
    font-size: 40px
}
h2 {
    font-size: 32px
}
h3 {
    font-size: 24px
}
main {
    align-content: center;
    display: grid;
    justify-items: center
}
button {
    cursor: pointer
}
.highlight-btn {
    background-color: var(--accent)
}
.calculator-content {
    margin-top: 1.5rem
}
.calculator-content button {
    border-radius: 5rem;
    margin-bottom: 0.5rem;
    padding: 2rem
}
.calculator-content button:hover {
    box-shadow: 0 1rem 1.75rem rgba(44, 44, 44, 0.3);
    transition: box-shadow 200ms cubic-bezier(0.075, 0.82, 0.165, 1)
}
@media (prefers-color-scheme: dark) {
    :root {
        --accent: #FDD5A0;
        --bg: #444;
        --fg: #fff
    }
}